
header .fa-arrow-left{
    font-size: 30px;
    position: fixed;
    left: 25px;
    top: 15px;
}

.menu_image img{
    width: 100%;
    height: 275px;
}

.menu{
background-color: #F6F6F6;
padding: 35px 13px 0 13px;
border-radius: 50px 50px 0 0;
position: relative;
bottom: 60px;
box-sizing: border-box;
width: 100%;
display: flex;
flex-direction: column;
gap: 40px;
}
.menu__title{
    position: relative;
}
.menu__title h1{
font-size: 28px;
font-family: 'Shrikhand';
font-weight: 400;
}
.menu__title .fa-heart{
    font-size: 22px;
    position: absolute;
    left: 87%;
    bottom: 10px;
}
.menu__card{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.menu__card h2 {
    font-size:16px ;
    font-weight: 300;
    margin: 0;
    padding: 0;
}
hr{
    width: 40px;
    height: 3px;
    border: none;
    background-color: var(--green-bg);
    justify-self: left;
    padding: 0;
    margin: 0;
}
.menu__card .menu__type {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.menu-element{
background-color: white;
border-radius: 15px;
padding: 15px;
display: flex;
flex-direction: column;
gap: 5px;
}
.menu-element .element__name{
    font-size: 18px;
    font-weight:500 ;
    padding: 0;
    margin: 0;
}
.menu-element .element__content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}
.element__content p {
    font-size: 15px;
    font-weight: 300;
    padding: 0;
    margin: 0;
}
.element__content .price {
    font-size: 15px;
    font-weight: 700;
    padding: 0;
    margin: 0;
}
.menu .commander {
    display: flex;
    justify-content: center;
}
.menu .btn{
    width: 186px;
    margin-bottom: 0;
}