/* Header */

header .fa-arrow-left {
	font-size: 30px;
	position: absolute;
	left: 25px;
	top: 15px;
}

/*Headline*/
.menu_image {
	position: relative;
}
.menu_image img {
	width: 100%;
	height: 275px;
}
.vide {
	width: 100%;
	height: 35px;
	border-radius: 60px 60px 0 0;
	background-color: #f6f6f6;
	padding: 0;
	margin: 0;
	position: absolute;
	bottom: 0;
}
/* Menus */
.menu {
	background-color: #f6f6f6;
	padding: 0px 13px 0 13px;
	box-sizing: border-box;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 40px;
}
.menu .menu__title {
	display: flex;
	flex-direction: row;
	gap: 30px;
	align-items: center;
	position: relative;
}
.menu .menu__title h1 {
	font-size: 28px;
	font-family: 'Shrikhand';
	font-weight: 400;
}
.menu .menu__title .fa-heart {
	font-size: 22px;
	position: absolute;
	right: 30px;
	bottom: 10px;
}
.menu .menu__title .fa-solid {
	color: transparent;
	cursor: pointer;
}
.menu .menu__card {
	display: flex;
	flex-direction: column;
	gap: 12px;
}
.menu .menu__card .menu__type {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.menu .menu__card .menu__type h2 {
	font-size: 16px;
	font-weight: 300;
	margin: 0;
	padding: 0;
}
.menu .menu__card .menu__type hr {
	width: 40px;
	height: 3px;
	border: none;
	background-color: #99e2d0;
	justify-self: left;
	padding: 0;
	margin: 0;
}
.menu .menu__card .menu-element {
	background-color: white;
	border-radius: 15px;
	position: relative;
	box-sizing: border-box;
	width: 100%;
	height: 72px;
}
.menu-element .element__name {
	box-sizing: border-box;
	display: flex;
	background-color: white;
	flex-direction: column;
	border-radius: 15px;
	padding: 15px;
	margin: 0;
	gap: 5px;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	transition-duration: 2s;
	z-index: 2;
}
.menu .menu__card .menu-element .element__name h3 {
	font-size: 18px;
	font-weight: 500;
	padding: 0;
	margin: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.menu .menu__card .menu-element .element__name .element__content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0;
	padding: 0;
}
.menu .menu__card .menu-element .element__name .element__content h4 {
	font-size: 15px;
	font-weight: 300;
	padding: 0;
	margin: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.menu .menu__card .menu-element .element__name .element__content .price {
	font-size: 15px;
	font-weight: 700;
	padding: 0;
	margin: 0;
}
.menu .menu__card .menu-element .cocher {
	width: 16%;
	height: 100%;
	box-sizing: border-box;
	border-radius: 0 15px 15px 0;
	color: white;
	background-color: #99E2D0;
	font-size: 22px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	right: 0;
	top: 0;
	transition-duration: 2s;
	z-index: 1;
}
.menu .commander {
	display: flex;
	justify-content: center;
}
.menu .commander .btn {
	padding: 16px 48px;
	margin-bottom: 50px;
}

/* Les animations */
/* L'apparition de la coche pour ajouter les plats à la commande*/

input[type="checkbox"] {display:none;}
label{
    cursor: pointer;
}
input:checked + label .element__name{
       width: 84%;
       border-radius: 15px 0 0 15px;
   }

/* L'apparition progressive des plats de menus */
@keyframes progress {
	from {
		opacity: 0;
   }
	to {
		opacity: 1;
   }
}
.element1 {
	opacity: 0;
	animation-name: progress;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}
.element2 {
	opacity: 0;
	animation-delay: 1s;
	animation-name: progress;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}
.element3 {
	opacity: 0;
	animation-delay: 2s;
	animation-name: progress;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}
.element4 {
	opacity: 0;
	animation-delay: 3s;
	animation-name: progress;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}
.element5 {
	opacity: 0;
	animation-delay: 4s;
	animation-name: progress;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}
.element6 {
	opacity: 0;
	animation-delay: 5s;
	animation-name: progress;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}
.element7 {
	opacity: 0;
	animation-delay: 6s;
	animation-name: progress;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}
.element8 {
	opacity: 0;
	animation-delay: 7s;
	animation-name: progress;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}
.element9 {
	opacity: 0;
	animation-delay: 8s;
	animation-name: progress;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}
.element10 {
	opacity: 0;
	animation-delay: 9s;
	animation-name: progress;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}
/****** Media queries ***********/
/* Medium and large device*/
@media (min-width: 768px) {
   /*Fin media queries */
	header .fa-arrow-left {
		top: 32px;
   }
	main {
		background-color: white;
   }
	.menu_image {
		display: flex;
		justify-content: center;
   }
	.menu_image img {
		width: 100%;
		height: 394px;
		object-fit: cover;
   }
	.vide {
		width: 75%;
		height: 45px;
   }
	.menu {
		width: 75%;
		margin: auto;
   }
	.menu .menu__title {
		margin: auto;
		gap: 50px;
   }
	.menu .menu__title .fa-heart {
		right: 0;
		bottom: 10px;
   }
	.menu .menu__card {
		width: 60%;
		margin: auto;
   }
}
